:root {
    --data: #FF6D85;
    --federal: #AF87FF; 
    --military: #FFFA75;
    --murders: #8EC5FF;
    --music: #A8FFB8;
    --politics: #FFC45E;
    --space: #90F4F3;
}

body {
    background-color: grey;
}

a::before {
    content:"";
    background-color: var(--space);
    width: 1.5em;
    height: 1.5em;
}
